mlflow>=1.2.0
scikit-learn>=1.*
flask==1.1.1
flask_restplus==0.13.0
flask_httpauth
Werkzeug==0.16.1
boto3
pathlib
setuptools
pytest-shutil
psycopg2-binary
argparse
tqdm
toolz
pytorch-lightning>=1.*
attrs==20.3.0
cffi==1.14.5
iniconfig==1.1.1
Jinja2==2.11.3
MarkupSafe
numpy
packaging
pandas>==1.2
pluggy==0.13.1
py==1.10.0
pycparser
pyparsing
pytest
python-dateutil
pytz
rpy2==3.3.2
six
toml
tzlocal
pysurvival
ruamel.yaml
swagger-ui-bundle
