mlflow
sklearn
flask==1.1.1
flask_restplus==0.13.0
flask_httpauth
Werkzeug==0.16.1
boto3
pathlib
setuptools
pytest-shutil
psycopg2-binary
argparse
tqdm
torch==1.4.0
torchvision==0.5.0
toolz==0.11
scikit-learn==0.24.1
pytorch-lightning==1.6.0
attrs==20.3.0
cffi==1.14.5
iniconfig==1.1.1
Jinja2==2.11.3
MarkupSafe==1.1.1
numpy==1.19.5
packaging==20.9
pandas==1.1.2
pluggy==0.13.1
py==1.10.0
pycparser==2.20
pyparsing==2.4.7
pytest==6.2.3
python-dateutil==2.8.1
pytz==2021.1
rpy2==3.3.2
six==1.15.0
toml==0.10.2
tzlocal==2.1
pysurvival==0.1.2
ruamel.yaml==0.16.12
swagger-ui-bundle