mlflow
sklearn
pandas
flask==1.1.1
flask_restplus==0.13.0
flask_httpauth
Werkzeug==0.16.1
boto3
pathlib
setuptools
pytest-shutil
psycopg2-binary
argparse
tqdm
torch
rpy2
toolz==0.11
scikit-learn==0.23.1
pytorch-lightning==0.8.5
ray[tune]==0.7.6